:root {
  --primary-color: #212121;
  --primary-shade-color: #757575;
  --secondary-color: #ffffff;
  --secondary-shade-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --address-shade-color: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 15px;
}

body {
  background-color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------HEADER----------------*/

.primary-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.logo-web {
  color: var(--accent-color);
}

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.nav {
  cursor: pointer;
}

.nav-list {
  display: flex;
  margin-left: 93px;

  color: var(--primary-color);
}

.nav :hover,
.nav :focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list .item + .item {
  margin-left: 50px;
}
.contact-list {
  margin-left: auto;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 32px 0;

  color: var(--primary-color);
}

.contact-list {
  display: flex;
}

.contact-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 9px 0;

  color: var(--primary-shade-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* -----------------HERO----------------- */

.hero {
  text-align: center;
  padding: 200px 15px;
  margin: auto;
  background-color: var(--primary-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;

  margin: 0 auto;

  color: var(--secondary-color);
}

.primary-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  padding: 10px 32px;
  margin-top: 30px;

  background-color: var(--accent-color);
}

/* -----------skills----------------- */

.skills {
  /* margin-right: auto;
  margin-left: auto; */
}

.skills-list {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}
.skills-item:not(:last-child) {
  margin-right: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: var(--primary-color);
}

.skill-text {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-shade-color);
}

/* ------------SERTVISE------------------- */

.service-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.service-list {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.service-item:not(:last-child) {
  margin-right: 30px;
}

/*--------------- TEAM -----------*/

.team {
  background-color: var(--secondary-background-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-color);
}

.team-list {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}
.teammate-background {
  padding: 30px 0;
  background-color: var(--secondary-color);
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.teammate-position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-shade-color);
}

/* -----------------PORTFOLIO--filter-button---------------- */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.secondary-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  color: var(--primary-color);
}

.filter-item :hover,
.filter-item :focus,
.filter-item :active {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.project-item {
  flex-basis: calc((100% - 3 * 30) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.project-backgraung {
  padding: 20px 24px;
  background-color: var(--secondary-color);
  border: 1px solid #eeeeee;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;

  color: var(--primary-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
}
/* ---------FOOTER------------------ */

.footer {
  background-color: var(--primary-background-color);
}

.footer-connection {
  padding: 60px 0;
}

.logo-white {
  color: var(--secondary-shade-color);
}

.address {
  padding-top: 20px;
}

.address :hover,
.address :focus {
  color: var(--accent-color);
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.address-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-shade-color);
}
